@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Consul Test</h1>
    
    <button onclick="doTask();" class="btn btn-primary">Do task...</button>

    <p style="margin-top:30px;">
        <span id="result"></span>
    </p>

    <script>
        function doTask() {
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                'type': 'POST',
                'url': '/DoTask',
                'data': '{ "Name" : "Wynand"}',
                'dataType': 'json',
                'success': function (returnVal) {

                    $("#result").html(returnVal["message"]);

                }
            });
        }
    </script>
</div>